
p.tnr {
    font-family: 'Times New Roman';
    font-size: 20px;
    font-weight: bold;
}
h1 {
    text-transform: uppercase;
    color: blue;

}

#especial {
    letter-spacing: 3px;
    word-spacing: 8px;
    text-indent: 10px;
}

.h3esp {
    width: 30%;
    text-align: right;
}

.pesp {
    text-align: justify;
    width: 500px;
    background-color: yellow;

}